.climax {
  background: #0c0c0c;
  p {
    color: #fff;
    text-align: left;
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

.climax-text {
}

.climax-image {
  img {
    width: 100vw;
  }
}
