* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-color: #555;
}

p {
  text-align: center;
  font-family: Katari;
  font-size: 24px;
  font-weight: 700;
}

footer {
  background: #0c0c0c;
  height: 100vh;
  width: 100vw;
}

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
